<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 使用<context:include-filter>进行白名单过滤需要配合使用use-default-filters="false"属性
	 use-default-filters="false"用于禁用自动发现和注册，否则即使使用<context:include-filter>
	 仍然会自动发现并注册其他注解的类-->
	<context:component-scan base-package="org.spring.ioc.annotation.bean.componentscan"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
	</context:component-scan>

</beans>