<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- 修改servlet版本为3.1，默认的2.3是关闭EL表达式 的-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" metadata-complete="true">

	<!-- 配置web容器启动时使用指定上下文配置文件初始化Spring MVC核心DispatcherServlet -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- DispatcherServlet对应的上下文配置，默认为/WEB-INF/[servlet-name]-servlet.xml
			  如果自定义上下文配置文件则使用contextConfigLocation参数 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/spring-web.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<!-- 配置拦截所有请求 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 配置Spring应用上下文初始化参数 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/spring-service.xml</param-value>
	</context-param>

	<!-- 配置Spring应用上下文初始化时执行动作 -->
	<!-- ContextLoaderListener类实现ServletContextListener，监听Servlet上下文启动和销毁动作 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>